/* General Styles for Dark Mode */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #1a1a1b;
    color: #d7dadc;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: #569cd6;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
}

/* Style for the logout button in the top right corner */
.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff4500;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #e43f00;
}

/* Style for comments */
.comments {
    margin-top: 30px;
}

.comment {
    background-color: #272729;
    border: 1px solid #343536;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

/* Style for the create post form */
.create-post-form {
    background-color: #272729;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid #343536;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Additional styles for the post layout */
ul {
    list-style: none;
    padding: 0;
}

.post-item {
    background-color: #272729;
    color: #d7dadc;
    border: 1px solid #343536;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.post-content {
    margin-bottom: 15px;
}

.comment-form {
    margin-top: 20px;
}

/* Form Input and Button Styles */
input[type='text'],
input[type='submit'],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #343536;
    background: #1a1a1b;
    color: #d7dadc;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

input[type='submit'],
button {
    background: #569cd6;
    color: white;
    cursor: pointer;
}

input[type='submit']:hover,
button:hover {
    background: #41729f;
}


/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {
    .logout-button {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
    }
}



