<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <a href="/logout" class="logout-button">Logout</a>

    <header>
        <h1>Create New Post</h1>
    </header>

    <section class="create-post-form">
        <form action="/submit-post" method="post">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            
            <label for="post_content">Post Blog Below:</label>
            <br>
            <textarea id="post_content" name="post_content" rows="3"  cols="50"></textarea>
            
            <button type="submit">Submit</button>
        </form>
    </section>

    <a href="/posts">Return To All Posts</a>

</body>
</html>
