<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Sign Up</title>
</head>
<body>
    <section>
        <div class="signup">
            <div class="content">
                <h2>Sign Up Request Form</h2>
                <div class="form">
                    <form action="/signup" method="post">
                       <i>Make you case below as to why you should be accepted into the form</i>
                        <br>
                         <a><textarea name="reason to join" cols="60" rows="5"></textarea></a>
                        <br>
                        <i>Enter a Email to send your login info if accepted</i>
                        <div class="inputBox">
                            <input type="email" name="email"  >
                        </div>
                        <br>
                        <div class="links">
                            <br>
                            <a href="/">Already have an account? Login here</a>
                            <br>
                            <br>
                        </div>
                        <div class="inputBox">
                            <input type="submit" value="Sign Up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
